.header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 5vh;
	z-index: 1;
}
.content{
	position: absolute;
	top: 5vh;
	left: 0;
	width: 100vw;
	height: 95vw;
}
.left-50{
	position: absolute;
	left: 0;
	width: 50vw;
}
.right-50{
	position: absolute;
	left: 50vw;
	width: 50vw;
}
.col-25{
	float:left;
	width:25%;
	margin-top:6px;
}
.col-75{
	float:right;
	width:75%;
	margin-top: 6px;
}
.row:after{
	content:"";
	display:table;
	clear:both;
}
