/* Top Level Styling */ 
/* Header Styles */
#header{
	position:fixed;
	top:0;
	left: 0;
	background-color: #000000;
	width: 100vw;
	height: 5vh;
	z-index:1;
}
#header>button{
	height:inherit;
	background-color:#FFFFFF;
	opacity:1.0;
}

/* Content Styling */
#content{
	top:5vh;
	position:fixed;
	width:100vh;
	height:100vh; 
}
#mounted{
	top:5vh;
	position:fixed;
	width:100vh;
	height:100vh;
}
