/* Top Level Styling */
div {
max-width:100%;
overflow-x:hidden;
}
/* Header Styles */
#header{
	position:fixed;
	top:0;
	left: 0;
	background-color: #000000;
	width: 100vw;
	height: 5vh;
	z-index:1;
}
#header>button{
	height:inherit;
	background-color:#FFFFFF;
	opacity:1.0;
}

/* Content Styling */
#content{
	position:fixed;
	top: 5vh;
	width:100vw;
	height:95vh;
	overflow:auto;
}
.ReactTable{
	position:static;
	height: 95vh;
}

